.subPageContainer {
  background: #f0f0f0;
}
.subPageContainer .subPageMain {
  width: 1290px;
  background: #fff;
  margin: 0 auto;
}
/* 导航 */
.navContainer {
  height: 116px;
}
.navContainer .navMain {
  width: 1290px;
  margin: 0 auto;
  overflow: hidden;
}
.navContainer .navMain .logoBox {
  float: left;
}
.navContainer .navMain .logoBox img {
  height: 100%;
}
.navContainer .navMain .navBox {
  float: right;
  overflow: hidden;
}
.navContainer .navMain .navBox a {
  display: block;
  width: 106px;
  text-align: center;
  line-height: 116px;
  font-size: 18px;
  color: #333333;
  float: left;
  position: relative;
}
.navContainer .navMain .navBox a.active,
.navContainer .navMain .navBox a:hover {
  color: #187fc3;
}
.navContainer .navMain .navBox a.active::before,
.navContainer .navMain .navBox a:hover::before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #187fc3;
  position: absolute;
  bottom: 27px;
  left: 50%;
  margin-left: -20px;
}
/* 底部 */
.footerMain {
  height: 156px;
  background: #222;
}
.footerMain .footerBox {
  width: 1290px;
  margin: 0 auto;
  height: 156px;
  overflow: hidden;
}
.footerMain .footerBox .footerLeftMain {
  width: 510px;
  float: left;
  padding-top: 52px;
  padding-left: 99px;
  box-sizing: border-box;
}
.footerMain .footerBox .footerLeftMain .footerLeftNav {
  overflow: hidden;
  line-height: 30px;
}
.footerMain .footerBox .footerLeftMain .footerLeftNav a {
  float: left;
  margin-right: 8px;
  font-size: 14px;
  color: #fff;
}
.footerMain .footerBox .footerLeftMain .footerLeftWebsite {
  line-height: 30px;
  font-size: 14px;
  color: #fff;
}
.footerMain .footerBox .footerMeddleMain {
  width: 335px;
  float: left;
  padding-top: 52px;
  box-sizing: border-box;
}
.footerMain .footerBox .footerMeddleMain p {
  line-height: 30px;
  font-size: 14px;
  color: #fff;
}
.footerMain .footerBox .footerMeddleMain p span {
  margin-right: 20px;
}
.footerMain .footerBox .footerMeddleMain p span:last-of-type {
  margin-right: 0;
}
.footerMain .footerBox .footerRightMain {
  width: 445px;
  float: right;
  padding-top: 37px;
}
.footerMain .footerBox .footerRightMain h3 {
  padding-right: 135px;
  text-align: right;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}
/* 底部悬浮 */
.footerBottomMain {
  height: 110px;
  background: #187fc3;
  width: 100%;
}
.footerBottomMain .footerBottomBox {
  width: 498px;
  height: 110px;
  margin: 0 auto;
  border-left: 1px solid #4397ce;
  border-right: 1px solid #0669a1;
}
.footerBottomMain .footerBottomBox a {
  display: block;
  width: 166px;
  height: 110px;
  text-align: center;
  border-left: 1px solid #0669a1;
  border-right: 1px solid #4397ce;
  float: left;
  padding-top: 15px;
  box-sizing: border-box;
}
.footerBottomMain .footerBottomBox a i {
  font-size: 32px;
  color: #fff;
  display: block;
  margin: 0 auto;
}
.footerBottomMain .footerBottomBox a h3 {
  font-size: 16px;
  padding-top: 12px;
  line-height: 16px;
  color: #fff;
}
.footerBottomMain .footerBottomBox a p {
  font-size: 12px;
  line-height: 12px;
  padding-top: 7px;
  color: #fff;
  text-transform: uppercase;
}
/* 子页公共 */
.subPagePublicMain {
  height: 750px;
  background: url('../images/mainBgImg.jpg') no-repeat;
  background-size: 100% 100%;
}
.subPagePublicMain .subPagePublicBox {
  width: 1290px;
  margin: 0 auto;
}
.subPagePublicMain .subPagePublicBox .subPagePublicTopBox {
  overflow: hidden;
  padding-top: 30px;
}
.subPagePublicMain .subPagePublicBox .subPagePublicTopBox .subPageItemBox {
  width: 309px;
  height: 248px;
  float: left;
  margin-right: 17px;
  padding: 10px;
  box-sizing: border-box;
  background: #B5D359;
}
.subPagePublicMain .subPagePublicBox .subPagePublicTopBox .subPageItemBox:first-of-type {
  margin-left: 1px;
}
.subPagePublicMain .subPagePublicBox .subPagePublicTopBox .subPageItemBox:last-of-type {
  margin-right: 0;
}
.subPagePublicMain .subPagePublicBox .subPagePublicTopBox .subPageItemBox a {
  display: block;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 56px;
  box-sizing: border-box;
}
.subPagePublicMain .subPagePublicBox .subPagePublicTopBox .subPageItemBox a i {
  font-size: 52px;
  color: #fff;
  display: block;
  margin: 0 auto;
}
.subPagePublicMain .subPagePublicBox .subPagePublicTopBox .subPageItemBox a h3 {
  font-size: 26px;
  line-height: 26px;
  padding-top: 11px;
  color: #fff;
}
.subPagePublicMain .subPagePublicBox .subPagePublicTopBox .subPageItemBox a p {
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
  text-transform: uppercase;
}
.subPagePublicMain .subPagePublicBox .subPagePublicMiddleBox {
  text-align: center;
  color: #fff;
  padding-top: 58px;
}
.subPagePublicMain .subPagePublicBox .subPagePublicMiddleBox h3 {
  font-size: 34px;
  line-height: 34px;
}
.subPagePublicMain .subPagePublicBox .subPagePublicMiddleBox p {
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
}
.subPagePublicMain .subPagePublicBox .subPagePublicMiddleBox .brief {
  font-size: 24px;
  line-height: 40px;
  padding: 23px 0 70px;
}
.subPagePublicMain .subPagePublicBox .subPagePublicMiddleBox .btnBox {
  display: flex;
  justify-content: center;
}
.subPagePublicMain .subPagePublicBox .subPagePublicMiddleBox .btnBox a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 45px;
  width: 212px;
  height: 45px;
  background: #b5d359;
  color: #fff;
}
.subPagePublicMain .subPagePublicBox .subPagePublicMiddleBox .btnBox a i {
  font-size: 28px;
  margin-right: 20px;
}
/* 子页banner与导航 */
.subPageBannerMain {
  position: relative;
}
.subPageBannerBox {
  height: 330px;
  background-size: cover;
  background-position: center center;
}
.subPageNavBox {
  width: 1200px;
  height: 62px;
  margin: 0 auto;
  background: #187fc3;
  border-radius: 35px 35px 0 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -600px;
  z-index: 999;
}
.subPageNavBox a {
  display: block;
  width: 200px;
  height: 62px;
  text-align: center;
  line-height: 62px;
  font-size: 19px;
  color: #fff;
  position: relative;
  font-weight: bold;
}
.subPageNavBox a.active,
.subPageNavBox a:hover {
  background: #fff;
  color: #187fc3;
}
.subPageNavBox a.active:before,
.subPageNavBox a:hover:before {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background: #b5d359;
  position: absolute;
  top: 0;
  left: 0;
}
/*首页banner*/
.indexBannerMain .swiper-container {
  height: 667px;
}
.indexBannerMain .swiper-slide {
  height: 667px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.indexProjectMain .programaTitleBox {
  width: 212px;
  height: 118px;
  background-color: #187fc3;
  text-align: center;
  padding-top: 27px;
  border-radius: 0 0 45px 45px;
  margin: 0 auto;
  box-sizing: border-box;
}
.indexProjectMain .programaTitleBox h3 {
  font-size: 34px;
  line-height: 34px;
  color: #fff;
  font-weight: bold;
}
.indexProjectMain .programaTitleBox p {
  font-size: 16px;
  line-height: 16px;
  padding-top: 16px;
  color: #fff;
}
.indexProjectMain {
  width: 1290px;
  margin: 0 auto;
}
.proListMain {
  padding-top: 52px;
}
.proListUl {
  overflow: hidden;
}
.proListUl li {
  width: 302px;
  float: left;
  background-color: #EEEEEE;
  margin-right: 27px;
}
.proListUl li:last-of-type {
  margin-right: 0;
}
.proListUl li:hover {
  background-color: #187FC3;
}
.proListUl li:hover h2,
.proListUl li:hover p {
  color: #fff;
}
.proListUl li a {
  display: block;
}
.proListUl li a img {
  display: block;
}
.proListUl li a div {
  height: 263px;
  text-align: center;
}
.proListUl li a div h2 {
  font-size: 30px;
  color: #666666;
  line-height: 30px;
  padding-top: 84px;
  font-weight: 400;
}
.proListUl li a div p {
  font-size: 16px;
  color: #187FC3;
  line-height: 16px;
  padding-top: 29px;
}
.indexTreatmentMain {
  margin-top: 30px;
  height: 845px;
  background: url('../images/mainBgImg.jpg') no-repeat;
  background-size: 100% 100%;
}
.titleTreatmentBox {
  padding-top: 35px;
  text-align: center;
}
.titleTreatmentBox h1 {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  line-height: 34px;
}
.titleTreatmentBox p {
  font-size: 16px;
  color: #fff;
  line-height: 16px;
  padding-top: 16px;
}
.treatmentListMain {
  width: 1290px;
  margin: 0 auto;
  padding-top: 44px;
}
.treatmentListUl {
  overflow: hidden;
}
.treatmentListUl li {
  width: 310px;
  height: 248px;
  background: #fff;
  float: left;
  padding: 10px;
  margin-right: 16px;
  box-sizing: border-box;
}
.treatmentListUl li:last-of-type {
  margin-right: 0;
}
.treatmentListUl li a {
  display: block;
}
.treatmentListUl li a img {
  width: 100%;
  height: 100%;
  display: block;
}
.treatmentListUl li:hover img {
  opacity: 0.6;
}
.treatmentBrief {
  width: 1014px;
  padding-top: 170px;
  line-height: 44px;
  font-size: 24px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.argumentMain {
  width: 1290px;
  margin: -73px auto 0;
}
.argumentMain .longLineBg {
  width: 1240px;
  height: 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 3px 7px;
  box-sizing: border-box;
  margin: 0 auto;
}
.argumentMain .longLineBg .smallLineBg {
  width: 100%;
  height: 4px;
  background: #002038;
  border-radius: 4px;
}
.argumentMain .argumentBox {
  background: url('../images/waveBgTopImg.jpg') repeat-y;
  background-size: 100% auto;
}
.argumentMain .argumentBox .argumentTitleBox {
  padding-top: 44px;
  text-align: center;
}
.argumentMain .argumentBox .argumentTitleBox h2 {
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  color: #187fc3;
}
.argumentMain .argumentBox .argumentTitleBox p {
  font-size: 16px;
  color: #187fc3;
  line-height: 16px;
  padding-top: 19px;
}
.argumentMain .argumentBox .argumentListBox {
  padding: 92px 40px 60px;
  overflow: hidden;
}
.argumentMain .argumentBox .argumentListBox .argumentItem {
  width: 16.666666%;
  float: left;
  text-align: center;
}
.argumentMain .argumentBox .argumentListBox .argumentItem img {
  width: 63px;
  height: 63px;
  display: block;
  margin: 0 auto;
}
.argumentMain .argumentBox .argumentListBox .argumentItem p {
  font-size: 20px;
  color: #333333;
  line-height: 20px;
  padding-top: 25px;
}
/*联系我们*/
